@page "/login"
@rendermode InteractiveServer
@inject ILoginAPIService LoginService
@inject NavigationManager Navigation
@inject CustomAuthStateProvider AuthStateProvider
@inject ITokenStorage TokenStorage
@using SistemaPECI.Client.Interfaces
@using SistemaPECI.Client.Modelos
@using SistemaPECI.Client.Seguridad

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>

<div class="login-container d-flex flex-wrap">
    <div class="login-left d-flex flex-column justify-content-center align-items-center text-white p-5">
        <img src="/images/android-chrome-512x512.png" alt="Logo ICE" style="max-width: 120px;" class="logoEsquinero" />
        <h1 style="font-weight: bold;">Te damos la bienvenida a PECI</h1>
    </div>
    <div class="login-right d-flex flex-column align-items-center justify-content-center w-65">
        <EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
            <div class="cardPresentacion p-5 mt-4 mb-3">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="mb-3">
                    <InputText @bind-Value="loginModel.Correo" class="input-correo form-control rounded-pill px-2 mb-3 mt-2 w-100" placeholder="Correo electrónico"/>
                </div>
                <br />
                <br />
                <div class="input-group mb-3">
                    <InputText @bind-Value="loginModel.Contraseña" type="@tipoPassword" class="input-con-ojo rounded-pill px-2 mt-4 w-100" placeholder="Contraseña" />
                    <button type="button" class="btnOjo" @onmousedown="MostrarPassword" 
                                                         @onmouseup="OcultarPassword" 
                                                         @onmouseleave="OcultarPassword" 
                                                         @ontouchstart="MostrarPassword" 
                                                         @ontouchend="OcultarPassword">
                        <i class="bi @(tipoPassword == "password" ? "bi-eye" : "bi-eye-slash")"></i>
                    </button>
                </div>
                @if (!string.IsNullOrEmpty(errorMessage))
                {
                    <div class="alert alert-danger">@errorMessage</div>
                }
            </div>
                <div>
                    <button type="submit" class="btnIniciarSesion btn-light" disabled="@isCargando">
                        @if (isCargando)
                        {
                            <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                            <span>Iniciando...</span>
                        }
                        else
                        {
                            <span>Iniciar sesión</span>
                        }
                    </button>
                </div>
        </EditForm>
    </div>
</div>

<style>
    .login-container {
        background-image: url('/images/MOCKUP DARK MODE 1.png');
        background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		min-height: 100vh;
        display: flex;
        align-items: center;
		justify-content: center;
        width: 100%;
    }

    .logoEsquinero{
        position: absolute;
        top: 0;
        left: 0;
        height: auto;
        width: 150px;
        z-index: 1000;
    }


    .login-left {
        width: 40%;
        background-size: cover;
    }

    .login-right {
        width: 60%;
    }

    .btnIniciarSesion{
        background-color: #f0eded;
        border: medium;
		color: #005595;
        box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.2);
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        padding: 10px 20px;
        border-radius: 30px;
        font-size: 1.4rem;
        font-weight: bold;
        transition: all 0.3s ease;
        margin-top: 35px;
        min-width: 300px;
        max-height: 50px;
        margin-bottom: 75px;
        margin-left: 72px;
    }

    .btnIniciarSesion:hover {
        background-color: rgb(0, 12, 20, 0.6);
        color: white;
    }

    .input-correo{
        text-indent: 15px;
    }

    h1 {
        font-size: 6.5rem;
    }

    @@media (max-width: 1200px){
        h1 {
            font-size: 5rem;
        }
    }

    @@media (max-width: 992px){
        h1 {
            font-size: 4rem;
        }
    }

    @@media (max-width: 768px){
        .login-container{
            flex-direction: column;
        }

        .login-left,
        .login-right {
            width: 100%;
        }

        h1 {
            font-size: 3rem;
            text-align: center;
            white-space: nowrap;
            display: block;
        }
    }

    .cardPresentacion{
        background-color: rgb(0, 12, 20, 0.6);
        color: white;
        backdrop-filter: blur(4px);
        transition: all 0.3s ease;
        border-radius: 15px;
        padding: 72px;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
        min-width: 475px;
        min-height: 325px;
        font-size: 1.1rem;
    }

    .input-group {
        position: relative;
        width: 100%;
    }

    .input-group .btn:hover {
        background-color: rgba(0, 85, 149, 0.6);
        color: #FCCE0D;
		}

    ::placeholder{
        font-size: 1rem;
        font-family: sans-serif;
        font-weight: bold;
        font-style: normal;
        letter-spacing: 1px;
    }

    .input-con-ojo{
        width: 100%;
        padding-right: 40px;
        border-radius: 10px;
        font-size: 1rem;
        padding: 7px;
        text-indent: 15px;
    }

    .input-con-ojo:focus{
        border-color: #258cfb;
        box-shadow: 0 0 0 0.1rem rgb(134, 192, 253);
        outline: none;
        z-index: 2;
    }

    .btnOjo{
        position: absolute;
        top: 50%;
        right: 10px;
        margin-top: 12px;
        transform: translateY(-50%);
        background-color: #ffffff;
        border: none;
        border-radius: 30px;
        color: rgb(0, 12, 20, 0.6);
        font-size: 1.2rem;
        cursor: pointer;
        z-index: 3;
    }

    .btnOjo:hover{
        background-color: #ffffff;
        color: #005595;
    }

    .btnOjo,
    .btnOjo:focus,
    .btnOjo:focus-visible {
        outline: none !important;
        box-shadow: none !important;
        background-color: transparent;
        border: none !important;
    }
</style>

@code {
    @inject IJSRuntime JS
    private LoginModel loginModel = new();
    private bool isCargando = false;
    private string? errorMessage;
    private string tipoPassword = "password";

    private void MostrarPassword()
    {
        tipoPassword = "text";
        StateHasChanged();
    }

    private void OcultarPassword()
    {
        tipoPassword = "password";
        StateHasChanged();
    }

    private async Task HandleLogin()
    {
        errorMessage = string.Empty;
        isCargando = true;

        try
        {
            var token = await LoginService.LoginAsync(loginModel);
            await TokenStorage.GuardarTokenAsync(token);
            AuthStateProvider.NotifyLogin(token);
            Navigation.NavigateTo("/MenuPrincipal");
        }
        catch (Exception ex)
        {
            errorMessage = "Error al iniciar sesión: " + ex.Message;
        }
        finally
        {
            isCargando = false;
        }
    }
}

